.tp-bar .tp-social-icons {
    text-align: center;
    padding-right: 2px;
}

div.border-bottom-1{
    border-bottom: 3px solid;
    border-bottom-color: #04babe ;
}

.shadowText{
    color: #fff;
    text-shadow: 1px 1px 2px black; 
}

.tp-bar{
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    font-size: 12px;
    line-height: 14px;
    border-color: #226883;
    background-color: #143e4e;
    color: #fff;
}

.tp-bar-container{
    padding-bottom: 5px;
    padding-top: 5px;
}

header{
    border-color: #0089a7;
    background-color: #005365;
    color: #fff;
}

i.fab {
    font-size: 14px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.parallax {
    /* The image used */

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body, html, main {
    height: 100%;
  }

html {
    font-size: 1rem;
}

@media (min-width: 576px) {
    html {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1.6rem;
    }
}

@media (max-width: 767px){
    /*.tp-bar .tp-bar-row .text-left, .tp-bar .tp-bar-row .text-right {
        text-align: center !important;
    }*/
}

@media (min-width: 768px){
    .tp-bar .tp-social-icons {
        display: inline-block;
        text-align: inherit;
        vertical-align: middle;
    }
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
        height: 30%;
        background-position: initial;
        background-attachment: scroll;
        background-size: 100%;
    }
}